/* cores
    preto: #383838
    vermelho: #F56969
    verde: #62D65F
    branco1: #F5F5F5
    branco2: #EEEEEE
    branco3: #E1E1E1

*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 2%;
    background-color: #383838;
    gap: 5px;
}
@media (min-width: 60em){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        padding: 2% 35%;
        background-color: #383838;
        gap: 5px;
    }

}

header{
    display: flex;
    flex-direction: column;
    height: 40%;
    background-color: lightgray;
    border-radius: 5%;
    justify-content: center;
}
.zerar{
    height: 10%;
    width: 100%;
    background-color: #F56969;
    border: none;
    color: #F5F5F5;
    border-radius: 5px;
}
/* TELA */
.container-tela{
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 5%;
    justify-content: space-evenly;
}
.valorTotal{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}
.valorTotal h2{
    color: #62D65F;
    font-size: 18pt;
   
}
.tela{
    height: 30vh;
    background-color: #383838;
    color: #F5F5F5;
    overflow-y: scroll;
    padding: 12px 0;
}

/* CALCULADORA */
main{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    gap: 5px;
}
.container-contador{
    display: flex;
    width: 100%;
    height: 20vh;
    padding: 2%;
    justify-content: space-evenly;
    background-color: #E1E1E1;
    border-radius: 10px;
    align-items: center;
}
.total{
    color: #62D65F;
    background-color: #383838;
    width: 80%;
    padding: 0 5%;
    height: 80%;
}
.btn-num:hover{
    background-color: #383838;
}

.btn-contador:nth-child(1){
    height: 100%;
    width: 15%;
    background-color: #F56969;
    border: none;
    color: #F5F5F5;
}
.num{
    font-size: 18pt;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    color: #383838;
    background-color: #F5F5F5;
}
.num >{

    background-color: #F5F5F5;
}

.btn-contador:nth-child(3){
    height: 100%;
    width: 15%;
    background-color: #62D65F;
    border: none;
    color: #F5F5F5;
}
.container-teclado{
    display: flex;
    padding: 3%;
    height: 90vh;
    width: 100%;
    background-color: #E1E1E1;
    border-radius: 5%;
    gap: 2%;
}

/* Container */
.teclado{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    gap: 2%;
}
.col{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 2%;
}
.zero{
    width: 85%;
    border-radius: 5%;
    background-color: #F56969;
    border: none;
    border-radius: 5%;
    color: #F5F5F5;
}
.btn-num{
    width: 40%;
    height: 100%;
    background-color: #F56969;
    border: none;
    border-radius: 5%;
    color: #F5F5F5;
}

/* Container */
.adicionarRemover{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    gap: 2%;
}
.adicionarRemover > button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5%;
    color: #F5F5F5;
}
.btn-backspace{
    background-color: #F56969;
}
.btn-adicionar{
    background-color: #62D65F;
}
.btn-remover{
    background-color: #F56969;
}

footer{
    font-style: none;
    text-decoration: none;
    list-style: none;
    color: #F5F5F5;
    height: 5%;
}
footer a{
    font-style: none;
    text-decoration: none;
    list-style: none;
    color: #62D65F;
    height: 5%;
}
.remover{
    display: none;
}